/* MISC */
html body{
    background-color: #202226;
    color: #DFDDD9;
}

*[data-dash-is-loading="true"]{
    visibility: hidden;
}

*[data-dash-is-loading="true"]::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    content: "Loading...";
    display: inline-block;
    color: white;
    visibility: visible;
}


/* Nav Bar */

.nav_bar{
    background-color: #000000;
}

.search_bar{
    border-radius: 0.25rem;
}

.col {
    padding:0.25rem;
}

.form-control{
  border-color: #000;
  background-color: #333333;
  font-size: 80%;
  color: #111;
  color: #ffffff;
  padding:0.25rem;
}

.form-control:focus{
  border-color: #000;
  background-color: #333333;
  font-size: 80%;
  color: #ffffff;
  padding:0.25rem;
}

.DateInput_input{
    padding: 0;
    margin: 0;

}
.DateInput_input{
    font-size: 10 px;
}



/* Stock Page */

.graph-container{
    border-radius: 0.75rem;
    background-color:rgba(43,44,48,1);
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 0;
}

.graph-single{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-bottom: 2.6rem;
}

.graph-below{
   display:block;
}

/* Error Page */

.errorDisplay{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-bottom: 2.6rem;
    color: #FFFFFF;
}