.errorDisplay{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-bottom: 2.6rem;
}

.test{
    background: url(chart_manager_bg_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    position: absolute;

}

.jumbotron{
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorDisplay.H1{
    font-size: 3rem;
}

.company-header{
    background: #2b2b2b;
    color: #fff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 0;
    overflow: hidden;
}

.company-info{
    background: #D9D9D6;
    color: #fff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 0;
    overflow: hidden;
}

.standard{
    margin-top: 2rem;
}

.price{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
.price_info{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}



.dl>dt{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.dl-lg{
    font-size: 18px;
}

th:not(.CalendarDay), td:not(.CalendarDay){
    border-bottom: 0px solid transparent;
    padding: 0px;
    padding-right: 0.8rem;
}